<!DOCTYPE html>
<html>
  <head>
    <% if Rails.env.production? %>
      <!-- Google Tag Manager -->
      <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-KDXB5J9');</script>
      <!-- End Google Tag Manager -->
    <% end %>

    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="preconnect" href="https://fonts.gstatic.com/">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700;900&display=swap" rel="stylesheet">
    <%= stylesheet_packs_with_chunks_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_packs_with_chunks_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel=”shortcut icon” href="<%= asset_pack_path('media/images/favicon.ico') %>">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= asset_pack_path('media/images/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= asset_pack_path('media/images/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= asset_pack_path('media/images/favicon-16x16.png') %>">
    <%# <link rel="manifest" href="./site.webmanifest"> %>
    <link rel="mask-icon" href="<%= asset_pack_path('media/images/safari-pinned-tab.svg') %>" color="#10b981">
    <meta name="apple-mobile-web-app-title" content="Ever So Hexy">
    <meta name="application-name" content="Ever So Hexy">
    <meta name="msapplication-TileColor" content="#10b981">
    <meta name="theme-color" content="#10b981">

    <meta property="og:title" content="Ever So Hexy">
    <meta property="og:site_name" content="Ever So Hexy">
    <meta property="og:url" content="<%= request.base_url %>">
    <meta property="og:description" content="An experimental collaborative art project by Josh Harrington and Sam Lester. Create your own interesting shapes and patterns. Get inspired by other people creating fun hexagon designs. Find ways to link designs together in ways the creators didn't imagine.">
    <meta property="og:type" content="website">
    <meta property="og:image" content="<%= Rails.root.join('public', 'og-image.png') %>">
    <meta name="twitter:card" content="summary_large_image" />
  </head>

  <body class="font-sans">
    <% if Rails.env.production? %>
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KDXB5J9"
      height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
      <!-- End Google Tag Manager (noscript) -->
    <% end %>

    <%= yield %>
    <div id="portal-root"></div>
  </body>
</html>
